.search{
   position: absolute;
   position: sticky;
   background-color: #fff;
   height: 55px;
   padding-top: 14px; 
   top: 0;
}
.glass{
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right-color: #fff;
    padding: 7px 8px;
    top: -1px;
    left: 40px;
    font-size: 35px;
    box-shadow: 3px 3px 9px lightgray 
}
.search-field{
    position: relative;
    top: -35px;
    left: 70px;
    padding: 3.8px 8px;
    font-size: 18px;
    border-left: #fff;
    border-right: #fff;
    box-shadow: 3px 3px 9px lightgray;
    border-top: 1px lightgray;
    border-bottom: 1px lightgray;
}
.mic {
    position: relative;
    top: -70px;
    left: 320px;
    font-size: 35px;
    padding: 7px 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: rgb(83, 83, 83);
    background-color: #fff;
    box-shadow: 3px 3px 9px lightgray
}